/* https://www.w3schools.com/css/css_navbar_horizontal.asp */

/* nav bar */

nav{
  position: sticky;
}

nav ul{
  box-sizing: border-box;
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
  justify-content: flex-start;
  background-color: white;
  }

  nav li:hover ul{
    transform: scale(1,1);
    transition: 0.3s;
  } 

nav li {
    float: left;
    background-color: #b2a694;
  }
  
nav ul ul{
    transform: scale(1,0);
    transform-origin: top center;
    position: absolute;
    top:100%;
    transition: 0.3s;
    width: 100%;
}

li a{
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover{
  background-color: #111;
}

.active{
  background-color: #B74B4B;
}

/* desktop */
@media screen and (min-width: 360px){
  nav ul{
    flex-direction: row;
  }
}

/* mobile */
@media screen and (max-width: 360px){
  nav ul{
    flex-direction: column;
  }
}


  /* other styling */
  
  .righticons {
    float: right;
    z-index: 10;
  }
.fixed-header {
    position: fixed;
    top: 50px;
    left: 50px;
    right: 50px;
    height: 90px;
    background-color: white;
  }
  
  #cartButton {
  background-color: #ffffff;
  color: white;
  border: none;
  cursor: pointer;
} 
  img[alt~="profile"]{
  width: 30px;
  height: 30px;
  padding: 10px;
  background-color: #ffffff;
}
 img[alt~="menu"]{
    width: 30px;
    height: 30px;
    padding: 20px;
  }
  
  img[alt~="bag"]{
    width: 30px;
    height: 30px;
    padding: 10px;
    
  }
  img[alt~="profile"]{
    width: 30px;
    height: 30px;
    padding: 10px;
    background-color: #ffffff;
  }
  
