/* https://www.w3schools.com/css/css_navbar_horizontal.asp */

/* nav bar */

nav ul{
  box-sizing: border-box;
  display:flex;
  flex-direction: row;
  /* flex-wrap: wrap; ==> does not allow the items to be in a row I AM SO FRUSTRATED ARCEWHRJG */
  margin: 0;
  padding: 0;
  list-style-type: none;
  justify-content: flex-start;
  }
  nav li{
    /* border: 1px black solid; */
    padding: 1em 1em;
    width: 8em;
    background-color: #170407;
    color: white;
    transform: translateX(-1em);
  }
nav ul ul{
    transform: scale(1,0);
    transform-origin: top center;
    position: absolute;
    top:100%;
    transition: 0.3s;
}   
nav li a{
  display: block;
  color: white;
  text-align: center;
  text-decoration: none;
}
  nav li:hover ul{
    transform: scale(1,1);
    transition: 0.3s;
  } 
  nav li a:hover {
    background-color: #111;
  }
  .active {
    background-color: #B74B4B;
  }


  ul {
	  list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;

   position: -webkit-sticky;
   position: sticky;
   top: 0;
   width: 100%;
}

       

li {
    float: left;
  }

 li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }


  /* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #111;
  }

  .active {
    background-color: #B74B4B;
  }

