/* #cartPopup {
    position: fixed;
    top: 20%;
    right: 0%;
    transform: translate(-50%, -50%);
    width: 300px;
    padding: 20px;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    display: none;
}

.cartItem {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.cartItem img {
    width: 80px;
    height: 80px;
    object-fit: cover;
    margin-right: 10px;
}

.itemDetails {
    flex-grow: 1;
}

.cartActions {
    display: flex;
    justify-content: space-between;
}

#cartButton {
    position: fixed;
    top: 2%;
    right: 2%;
    padding: 10px 20px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#checkoutButton {
    padding: 10px 20px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#closeButton {
    padding: 10px 20px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #555;
}
 */
