/* if using imported font: @import url('urlhere') */
/*mAKE HEADER FIXED POSITION*/

/* html {
  border: 50px solid black;
  bottom: 0px;
  z-index: 0;
} */

.border {
  position: fixed;
  border: 50px solid transparent;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  border-image: url("https://previews.123rf.com/images/appstock/appstock1903/appstock190300026/119842821-leopard-fur-texture-real-fur.jpg") 10% round;
} 

.fixed-header {
  position: fixed;
  top: 50px;
  left: 50px;
  right: 50px;
  height: 70px;
  background-color: white;
}

img[alt~="menu"]{
  width: 30px;
  height: 30px;
  padding: 20px;
}

img[alt~="bag"]{
  width: 30px;
  height: 30px;
  padding: 20px;
}

img[alt~="profile"]{
  width: 30px;
  height: 30px;
  padding-bottom: 20%;
}

.righticons {
  float: right;
}


/* https://www.w3schools.com/css/css_navbar_horizontal.asp */

/* nav bar */
nav ul{
  box-sizing: border-box;
  display:flex;
  flex-direction: row;
  /* flex-wrap: wrap; ==> does not allow the items to be in a row I AM SO FRUSTRATED ARCEWHRJG */
  margin: 0;
  padding: 0;
  list-style-type: none;
  justify-content: flex-start;
  }
  nav li{
    /* border: 1px black solid; */
    padding: 1em 1em;
    width: 8em;
    background-color: #170407;
    color: white;
    transform: translateX(-1em);
  }
nav ul ul{
    transform: scale(1,0);
    transform-origin: top center;
    position: absolute;
    top:100%;
    transition: 0.3s;
}   
nav li a{
  display: block;
  color: white;
  text-align: center;
  text-decoration: none;
}
  nav li:hover ul{
    transform: scale(1,1);
    transition: 0.3s;
  } 
  nav li a:hover {
    background-color: #111;
  }
  .active {
    background-color: #B74B4B;
  }

  ul {
	  list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;

   position: -webkit-sticky;
   position: sticky;
   top: 0;
   width: 100%;
}     
li {
    float: left;
  }
 li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }


  /* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #111;
  }
  .active {
    background-color: #B74B4B;
  }



  .row1 {
    display: flex;
  }
  
  .column1 {
    flex: 1;
  }

  img[alt~="staysexy"]{
    width: 70%;
    margin-top: 150px;
    margin-left: 90px;
    float: left;
  }


  #bestsellersbanner .banner-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-image: url(/images/bannerimage1.png);
    min-width: 30%;
    height: 30vh;
    background-size: cover;
    background-position: center;
    padding: 20px;
    margin-bottom: 20px;
    margin: 70px;
    border-radius: 20px;
  }

  #bestsellersbanner h1{
    color: white;
    font-weight: 900;
    font-size: 80px;
    -webkit-text-stroke: 2px rgb(19, 16, 39);
  }

  #bestsellersbanner h2{
    color: rgb(255, 255, 255);
    font-weight: 800;
    font-size: 20px;
    padding-left: 10%;
    -webkit-text-stroke: 0.5px rgb(19, 16, 39);
  }

  #salebanner .banner-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-image: url(/images/saleimage.png);
    min-width: 30%;
    width: 100%;
    height: 30vh;
    background-size: cover;
    background-position: center;
    padding-top: 20px;
    margin-bottom: 70px;
  }

  #salebanner h1{
    color: maroon;
    font-weight: 900;
    font-size: 6vw;
    -webkit-text-stroke: 2px maroon;
    float: top;
    margin-left: 7%;
    margin-right: 7%;
    /* padding-bottom: 10%; */
  }

  #salebanner h2{
    color: rgb(255, 255, 255);
    font-weight: 800;
    font-size: 2vw;
    padding-top: 0;
    padding-bottom: 10%;
    text-align: right;
    margin-left: 70%;
    -webkit-text-stroke: 0.5px rgb(19, 16, 39);
  }

  #newarrivalsbanner .banner-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-image: url(bannerimage1.png);
    min-width: 30%;
    height: 30vh;
    background-size: cover;
    background-position: center;
    padding: 20px;
    margin-bottom: 20px;
    margin: 70px;
    border-radius: 20px;
    margin-top: 160px;
  }

  #newsletter{
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    /* background-image: ; */
    /* background-repeat: no-repeat; */
    background-position: 20% 30%;
    background-color: rgb(63, 56, 113);
    padding: 30px;
    margin: 20px;
  }

  #newsletter h2{
    color: rgb(255, 255, 255);
    font-weight: 800;
    font-size: 20px;
    padding-left: 10%;
  }

  #newsletter p{
    color: rgb(255, 255, 255);
    font-weight: 800;
    font-size: 14px;
    padding-left: 10%;
  }

  #newsletter p span {
    color: rgb(233, 192, 43);
  }

  #newsletter input {
    height: 3.125rem;
    padding: 0 1.25em;
    font-size: 14px;
    width: 90%;
    border: 1px solid transparent;
    border-radius: 4px;
    outline: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  #newsletter button{
    background-color: rgb(233, 192, 43);
    color: rgb(63, 56, 113);
    height: 3.24rem;
    padding: 0 1.25em;
    font-size: 14px;
    width: 20%;
    border: 1px solid transparent;
    border-radius: 4px;
    outline: none;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    float: right;
  }

  #newsletter .form{
    display: flex;
    width: 40%;
  }

  footer{
    height:30vh;
    width:100%;
    background-color:white;
  
  }

  footer > div{
    padding: 30px;
    /* idk something here about how they align on either side of the screen; 
    not clumped and center */
  }

  /* footer> div > img{
    width: 60px;
    height: 60px;
  } */

<<<<<<< HEAD
  
=======
 

>>>>>>> b6750ab35e89fe3229f3298ed870b7cd51762d83
.column {
float: left;
padding: 30px;
position: static;
margin-right: 30px;
}

/* Set width length for the left, right and middle columns */
/* .left {
 width: 20%;
}

.middle {
 width: 50%;
}

.right {
 width: 10%;
} */

.row {
  display: flex;
}

.row:after {
content: "";
display: table;
clear: both;
}

.column_new {
  flex: 1;
  padding: 3px;
}

.column_small {
  flex: 0;
  padding: 3px;
  margin-right: 10px;
}
