.Group-1 {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }
  
  .product-card {
    padding:20px;
    margin-bottom:20px;
}
    
.product-card > img{
    width:80%;
    justify-self: center;
}
    
.Group-1 > .product-card {
    width:400px;
    max-width:400px;
}
