html{
    padding: 50px;
    padding-top: 20px;
    background-color: white;
  }
  
  body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 0;
    padding: 10;
  }

  img[alt~="logo"]{
    height: 70px;
    padding-top: 10px;
    padding-left: 10px;
  }
  
  h1 {
    text-align: center;
    margin: 20px 0;
  }
  
  .checkout-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin: 20px;
  }
  
  .checkout-left {
    flex: 1;
    padding-right: 20px;
  }
  
  .checkout-right {
    flex: 1;
    padding-left: 20px;
  }
  
  h2 {
    margin-top: 0;
  }
  
  .payment-methods {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
  }
  
  .payment-button {
    padding: 10px 20px;
    color: #b2a694;
    border: none;
    border-color: #b2a694;
    border-radius: 4px;
    margin-right: 10px;
    margin-bottom: 10px;
    cursor: pointer;
  }

  img[alt~="paypal"]{
    height: 30px;
  }
  img[alt~="gpay"]{
    height: 30px;
  }
  img[alt~="shoppay"]{
    height: 30px;
  }
  
  form input{
    margin-left: 20px;
    margin-right: 20px;
  }
  
form{
  margin-top: 20px;
  margin-bottom: 20px;
}

  label {
  padding-bottom: 20px;
  }
  
 #emailInput {
  margin-right: 20px;
  margin-left: 20px;
 }

 

  input[type="text"] {
    width: 90%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 10px;
  }
  
  .checkout-right .product {
    display: flex;
    margin-bottom: 20px;
    top: 20px;
  }
  
  .checkout-right .product img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin-right: 10px;
    margin-left: 20px;
    margin-top: 20px;
  }
  
  .checkout-right .product-details h3 {
    margin-top: 20px;
  }
  
  .checkout-right .total {
    margin-top: 20px;
    margin-bottom: 40px;
  }
  
  .checkout-right .confirm-button {
    padding: 10px 20px;
    background-color: #b2a694;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    float: right;

  }

  .return-button {
    padding: 10px 20px;
    background-color: #b2a694;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 30%;
    float: right;
    margin-top: 10px;

  }

  .total {
    float: right;
  }


  /* start order confirmed popup */

  .popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    height: 160px;
    background-color: #b2a694;
    border-color: black;
    border-width: 2px;
    border-radius: 2px;
    padding: 20px;
    padding-top: 70px;
    text-align: center;
  }
  
  .popup-message {
    font-size: 50px;
    font-weight: bold;
    color: white;
    padding-top: 30%;
  }
  
  span {
    font-size: 30px;
    color: white;
    -webkit-text-stroke: 1px rgb(19, 16, 39);
    font-weight: bold;
    padding-top: 30%;
  }
  
  .show-popup {
    display: block;
  }
